[user]
    name  = AUTHORNAME
    email = AUTHOREMAIL

[alias]
    st = status -sb
    ci = commit
    br = branch
    co = checkout
    df = diff
    he = help
    cl = clone
    fft = merge --ff-only @{u}
    tree = log --decorate --pretty=oneline --abbrev-commit --graph

[color]
    ui = auto

[push]
    default = current
